/* Общие стили и сбросы */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
}

.header__links-list-item {
  list-style: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: auto;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

/* Address */
.address {
  font-style: normal;
  line-height: 1.35;
}

.address a {
  border-bottom: 1px solid currentColor;
}

/* Cover */
.cover {
  position: relative;
  z-index: 0;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 1;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

/* Lots */
.lots {
  padding: 180px 50px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 0 30px;
}

.lots__card-list-item {
  flex: 1 1 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 0 50px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 0 50px 90px;
}

.footer__address {
  justify-self: start;
  max-width: 240px;
  font-size: 18px;
  line-height: 1.35;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  text-align: center;
  font-size: 18px;
  line-height: 1.35;
}

.footer__menu-link {
  border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/* Утилиты */
.no-letter-spacing {
  letter-spacing: 0;
}

.uppercase {
  text-transform: uppercase;
}